.footerWrap {
  width: 100%;
  color: var(--black-color);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
  .divide {
    height: var(--divider-weight);
    background-color: var(--divider-color);
    width: 100%;
    max-width: var(--max-width);
    width: 100%;
  }
  .bottom {
    padding: 0 6rem;
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .footerBody {
    margin-top: 6rem;
    width: auto;
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    padding: 0 6rem;
    .footerSection {
      flex: 1 1 auto;
      max-width: 12.5rem;
      .title {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        .link {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  // @media (max-width: 900px) {
  //   padding: 50px;
  //   .footerBody {
  //     flex-direction: column;
  //     gap: 20px;
  //     .footerSection {
  //       max-width: 100%;
  //       margin-bottom: 50px;
  //     }
  //   }
  // }
}
