.header-wrapper {
  width: 100%;
  height: 56px;
  padding: 0 6rem;
  backdrop-filter: saturate(180%) blur(20px);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  color: var(--black-color);
  position: fixed;
  top: 0;
  .header-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 56px;
    gap: 5rem;
    padding: 1rem;
    justify-content: space-between;
  }
}

.header-sheet-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 999;
}
