.header-sheet-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1rem;
  justify-content: space-between;
  box-sizing: border-box;
  .header-sheet-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-basis: 400px;
    .header-sheet-item {
      font-size: 18px;
      cursor: pointer;
      position: relative;
      width: fit-content;
    }
    .header-sheet-title {
      color: var(--gray-color);
      margin-bottom: 0.8rem;
    }
  }
}
