.first-container {
  width: 90%;
  height: 40rem;
  display: flex;
  position: relative;
  margin-top: 3.8rem;
  overflow: visible;
  box-sizing: border-box;
  @media screen and (max-width: 600px) {
    height: 60vh;
  }
  .first-swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
    box-sizing: border-box;
    .swiper-item {
      max-width: var(--max-width) !important;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }
}
