@mixin card-css {
  height: 100%;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.5s var(--cubic-bezier);
  align-items: center;
  box-sizing: border-box;
  .title {
    font-size: 44px;
    @media screen and (max-width: 600px) {
      font-size: 1.4rem;
      text-align: center;
    }
  }
  .desc {
    font-size: 32px;
  }
  .button {
    margin-top: 20px;
  }
  @media screen and (min-width: 600px) {
    &:hover {
      scale: 1.005;
    }
  }
}
