.card-container {
  height: 20rem;
  background-position: center;
  background-size: cover;
  width: 30rem;
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    .background-img {
      transform: scale(1.08);
    }
  }
  .background-img {
    transition: all 0.3s var(--cubic-bezier);
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .svg {
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 70%;
    bottom: -14%;
    right: -10%;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    z-index: 2;
  }
  .title {
    margin: 0.4rem;
    z-index: 3;
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .desc {
    position: relative;
    z-index: 3;
    bottom: 0;
    color: var(--white-color);
    margin: 0.6rem;
    font-size: 1.1rem;
    // font-size: 20px;
  }
}
