.welcome-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50rem;
  border-left: var(--divider-weight) solid var(--divider-color);
  border-right: var(--divider-weight) solid var(--divider-color);
  // background-ima;
  background-size: 6rem 6rem;
  background-image: url("../../../public/img/background.png");
  background-repeat: repeat;
  .span-wrapper {
    padding: 12rem 18rem 12rem 6rem;
    width: 60%;
    .title {
      font-size: var(--title-size);
      white-space: nowrap;
      .look {
        background-color: #ff7051;
        padding: 8px 16px;
        position: relative;
      }
    }
    .desc {
      font-size: var(--second-title-size);
      white-space: nowrap;
    }
    .button {
      margin-top: 4rem;
      font-size: 1.5rem;
      background-color: var(--black-color);
      color: var(--white-color);
      display: flex;
      align-items: center;
      justify-content: center;
      .svg {
        height: 1.2rem;
      }
    }
  }
  .divider {
    width: var(--divider-weight);
    height: 100%;
    background-color: var(--divider-color);
  }

  .img-wrapper {
    width: 40%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
