.welcome-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 0px 0px 0px 100px;
  .span-wrapper {
    padding: 200px 285px 200px 100px;
    border-right: 1px solid var(--divider-color);
    width: 60%;
    .title {
      font-size: 80px;
    }
    .desc {
      font-size: 60px;
    }
    .button {
      margin-top: 70px;
      font-size: 22px;
      background-color: var(--black-color);
      color: var(--white-color);
    }
  }

  .img-wrapper {
    width: 40%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 0px 200px;
    // margin: 100px;
  }
}
