.welcome-wrapper {
  width: 100%;
  display: flex;
  margin-top: 56px;
  align-items: center;
  justify-content: space-between;
  height: 60rem;
  .span-wrapper {
    padding: 12rem 18rem 12rem 6rem;
    width: 60%;
    .title {
      font-size: 5rem;
    }
    .desc {
      font-size: var(--title-size);
    }
    .button {
      margin-top: 4rem;
      font-size: 1.5rem;
      background-color: var(--black-color);
      color: var(--white-color);
    }
  }
  .divider {
    width: var(--divider-weight);
    height: 100%;
    background-color: var(--divider-color);
  }

  .img-wrapper {
    width: 40%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
