.introduction-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--divider-color);
  .left-span {
    width: 40%;
    padding: 100px;
    font-size: 32px;
  }
  .right {
    width: 60%;
    padding: 100px;
    border-left: 1px solid var(--divider-color);
    h1 {
      font-size: 64px;
    }
    p {
      margin-top: 1rem;
      color: #818181;
    }
  }
}
