.introduction-container {
  padding: 0 12rem;
  background: linear-gradient(145deg, #0d0d0d, #1a1a1a 40%, #262626, #0a0a0a);
  @media screen and (max-width: 1024px) {
    padding: 0;
  }
  .introduction-wrapper {
    --divider-color: #444444;
    color: #fff;
    display: flex;
    flex-direction: row;
    border-left: var(--divider-weight) solid var(--divider-color);
    border-right: var(--divider-weight) solid var(--divider-color);

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
    .left-span {
      width: 40%;
      padding: 6rem;
      font-size: 2.5rem;
      position: relative;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }

      .index-number {
        position: absolute;
        left: 0;
        top: 0;
        height: 3rem;
        width: 3rem;
        font-size: 2rem;
        transform: translate(-100%, 0);
        border: var(--divider-weight) solid var(--divider-color);
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1024px) {
          transform: translate(0, 0);
          height: 5rem;
          width: 5rem;
        }
      }
    }
    .right {
      width: 60%;
      padding: 6rem;
      border-left: var(--divider-weight) solid var(--divider-color);
      @media screen and (max-width: 1024px) {
        width: 100%;
        border-top: var(--divider-weight) solid var(--divider-color);
      }
      h1 {
        font-size: var(--title-size);
      }
      p {
        margin-top: 1rem;
        color: #fff;
        font-size: 1.2rem;
      }
    }
  }
}

.up-space {
  height: 8rem;
  width: 100%;
  border-top: var(--divider-weight) solid var(--divider-color);
  border-bottom: var(--divider-weight) solid var(--divider-color);
  padding: 0 12rem;

  @media screen and (max-width: 1024px) {
    padding: 0;
  }
  div {
    width: 100%;
    height: 100%;
    border-left: var(--divider-weight) solid var(--divider-color);
    border-right: var(--divider-weight) solid var(--divider-color);
  }
}

[data-theme="dark"] {
  .introduction-container {
    
  }
}
