.introduction-wrapper {
  display: flex;
  flex-direction: row;
  border: var(--divider-weight) solid var(--divider-color);
  .left-span {
    width: 40%;
    padding: 6rem;
    font-size: 2.5rem;
  }
  .right {
    width: 60%;
    padding: 6rem;
    border-left: var(--divider-weight) solid var(--divider-color);
    h1 {
      font-size: var(--title-size);
    }
    p {
      margin-top: 1rem;
      color: var(--desc-color);
      font-size: 1.2rem;
    }
  }
}
