.join-us-wrapper {
  width: 100%;
  .title {
    font-size: var(--title-size);
    padding-top: 6rem;
    padding-left: 6rem;
  }
  .content {
    border-top: var(--divider-weight) solid var(--divider-color);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .right {
      // padding: 3rem;
      height: 100%;
      flex-grow: 1;
      box-sizing: border-box;
      border-bottom: var(--divider-weight) solid var(--divider-color);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      h2 {
        border-top: var(--divider-weight) solid var(--divider-color);
        font-size: 3rem;
        width: 100%;
        text-align: end;
        padding-top: 3rem;
        padding-right: 3rem;
      }
      .button {
        margin-left: 2rem;
        font-size: 1rem;
        background-color: var(--black-color);
        color: var(--white-color);
      }
    }
    .left {
      display: flex;
      flex-direction: column;
      width: 60%;
      .item {
        padding: 3rem 6rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        border-right: var(--divider-weight) solid var(--divider-color);
        border-bottom: var(--divider-weight) solid var(--divider-color);
        h2 {
          font-size: 3rem;
        }
        .desc {
          color: var(--desc-color);
        }
        .link {
          font-size: 1.6rem;
        }
      }
    }
  }
}
