.join-us-wrapper {
  width: 100%;

  .title {
    font-size: var(--title-size);
    padding-top: 6rem;
    padding-left: 6rem;
  }

  .content {
    border-top: var(--divider-weight) solid var(--divider-color);
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .left {
      display: flex;
      flex-direction: column;
      width: 100%;

      .item {
        padding: 3rem 6rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        // border-right: var(--divider-weight) solid var(--divider-color);
        border-bottom: var(--divider-weight) solid var(--divider-color);

        h2 {
          font-size: 3rem;
        }

        .desc {
          color: var(--desc-color);
          font-size: 1.2rem;
        }

        .link {
          font-size: 1.6rem;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }

          .svg {
            height: 1.2rem;
          }
        }

        .svg {
          height: 5rem;
          width: fit-content;
          object-fit: contain;
        }
      }
    }
  }
}

.bottom {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 24rem);
  height: 48rem;
  justify-content: center;
  border-left: var(--divider-weight) solid var(--divider-color);
  border-right: var(--divider-weight) solid var(--divider-color);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 6rem 6rem;
    background-image: url("../../../public/img/background.png");
    background-repeat: repeat;
  }

  h2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    padding-top: 3rem;
    padding-right: 3rem;
  }

  .button {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    font-size: 1rem;
    background-color: var(--black-color);
    color: var(--white-color);

    .svg {
      height: 1.2rem;
    }
  }
}

[data-theme="dark"] {
  .bottom::before {
    opacity: var(--grid-background-opacity);
  }
}
