.sheet-content-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  gap: 0.5em;
  height: 100%;
  position: relative;
  flex-grow: 1;
  width: 820px;
  padding-left: 3rem;
  .sheet-glf {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
