.show-number-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  border-left: var(--divider-weight) solid var(--divider-color);
  border-right: var(--divider-weight) solid var(--divider-color);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 6rem 6rem;
    background-image: url("../../../public/img/background.png");
    background-repeat: repeat;
    z-index: -1;
  }

  .title {
    padding: 0 6rem;
    font-size: var(--title-size);
  }
  .number-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 1024px) {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
    .number-item {
      height: 22rem;
      padding: 10% 20%;
      box-sizing: border-box;
      display: flex;
      margin: calc(var(--divider-weight) / 2);
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      .reference {
        position: absolute;
        left: 15%;
        top: 15%;
      }
      h1 {
        font-size: 4rem;
        text-align: end;
      }
      p {
        margin-top: 0.6rem;
        color: var(--desc-color);
        font-size: 1.2rem;
      }
    }
  }
}

.up-space {
  width: 100%;
  height: 8rem;
  padding: 0 12rem;
  border-top: var(--divider-weight) solid var(--divider-color);
  border-bottom: var(--divider-weight) solid var(--divider-color);
  @media screen and (max-width: 1024px) {
    padding: 0;
  }
}

.show-number-container {
  padding: 0 12rem;
  @media screen and (max-width: 1024px) {
    padding: 0;
  }
}

.index-number {
  position: absolute;
  left: 0;
  top: 0;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  transform: translate(-100%, 0);
  border: var(--divider-weight) solid var(--divider-color);
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1024px) {
    transform: unset;
    height: 5rem;
    width: 5rem;
  }
}

[data-theme="dark"] {
  .show-number-wrapper::before {
    opacity: var(--grid-background-opacity);
  }
}
